body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.iletisim-formu {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form input, form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form input[type="file"] {
    cursor: pointer;
}

form label {
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form button[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
}


        /* Formun içerik div'ini ortala */
        .form-ortala {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px; /* Form genişliğini ayarlayabilirsiniz */
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        /* Formun içerik elemanlarına margin ve padding uygula */
        .form-ortala input[type="text"],
        .form-ortala input[type="email"],
        .form-ortala textarea {
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
        }

        /* Formun submit butonunu düzenle */
        .form-ortala input[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            width: 100%;
        }